{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
 <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Fontawesome_Pro -->
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/base2.css' %}">



</head>

{% block content %}
<body class="p-5">
       <form method="POST" role="form" enctype="multipart/form-data" id="form-container">
    {% csrf_token %}

    <div class="row pb-5">
        <div class="col-md-9 text-center border-right border-info">
            <h3>Резюме</h3>
            <p class="text-muted">Yuriskonsult ("O'zmetkombinat" AJ) lavozimiga</p>
            <p class="text-danger">Иш берувчи Сиз хақингизда тўлиқ бўлмаган ёки нотўғри биографик маълумотларни ўз ичига
                олган резюмени кўриб чиқмаслик хуқуқига эга</p>
        </div>

        <div class="col-md-3 was-validated">
            <img src="https://www.pngkit.com/png/full/21-217883_anonymous-user-icon-accounting.png"
                class="w-50 py-2 d-block m-auto" id="avatarImg">
            {{ my_form.rasm|as_crispy_field }}


        </div>
    </div>

    <div class="row">
    <div class="col-md-12 mb-3 was-validated">
            {{ my_form.jobName|as_crispy_field }}
        </div>
        <div class="col-md-4 mb-3 was-validated">
            {{ my_form.lastName|as_crispy_field }}
        </div>

        <div class="col-md-4 mb-3 was-validated">
            {{ my_form.firstName|as_crispy_field }}
        </div>

        <div class="col-md-4 mb-3">
            {{ my_form.middleName|as_crispy_field }}
        </div>

        <div class="col-md-4 mb-3 was-validated">
            {{ my_form.birthData|as_crispy_field }}
        </div>

        <div class="col-sm-4 mb-3">
            {{ my_form.nation|as_crispy_field }}
        </div>

        <div class="col-sm-4 mb-3 was-validated">
            {{ my_form.birthPlace|as_crispy_field }}

        </div>

        <div class="col-sm-4 was-validated was-validated">
            {{ my_form.marriage_status|as_crispy_field }}
        </div>

        <div class="col-sm-4 was-validated">
            {{ my_form.children|as_crispy_field }}
        </div>

        <div class="col-12 mb-0 was-validated">
            {{ my_form.militaryResp|as_crispy_field }}
            <span class="text-muted small h6" style="font-size:14px">хизмат тури, резерв таркиби, ҳарбий рўйхатга турган жой, ҳарбий гувоҳнома №</span>
        </div>



{#    ----------------------------------------Education form field--------------------------------#}

            <div class="col-sm-12 m-3">
                 <p>10. Маълумотингиз</p>
                <hr class="border border-info">
                {{ education_formset.management_form }}
                {% for form in  education_formset %}
                <div class="edu-form">
                <div class="row text-left">
                     <div class="col-sm-3 ">
                     {{ form.startingDate|as_crispy_field }}
                    </div>
                    <div class="col-sm-3 ">
                    {{ form.endingDate|as_crispy_field }}
                    </div>
                    <div class="col-sm-6" >
                 {{ form.name|as_crispy_field }}
                     </div>
                </div>
                <div class="row mb-2 text-left">

                <div class="col-sm-3">
                    {{ form.degree|as_crispy_field }}
                 </div>

                 <div class="col-sm-3 ">
                  {{ form.speciality|as_crispy_field }}
                 </div>
                 <div class="col-sm-6" >
                 {{ form.diplomSeriya|as_crispy_field }}
                 </div>

                </div>

                </div>
                {% endfor %}
                <p class="text-right">
            <button id="add-Eduform" type="button" class="btn-sm border-0 btn-success text-right">   <i class="fal fa-plus"></i> Яна қўшиш</button>
                </p>
        </div>

{#----------------------------------------------- Education Field ended-------------------------------------------------------------------------#}

        <div class="col-12">
            {{ my_form.additionalCourses|as_crispy_field }}
        <span class="index-info text-muted">
            ўқув масканининг номланиши,қачон, муддати, мавзуси
          </span>
        </div>

        <div class="col-12">
            <label for="">12. Давлат ва чет тилларини қай даражада биласиз</label>
        <hr class="border border-info"><br>

        <div class="row lang">
            <div class="col-md-4 was-validated">
               {{ my_form.language_uzbek|as_crispy_field }}
            </div>

            <div class="col-md-4 was-validated">
                {{ my_form.language_russian|as_crispy_field }}
            </div>

            <div class="col-md-4">
                {{ my_form.language_english|as_crispy_field }}
            </div>
        </div>

        </div>

        <div class="col-12">
            {{ my_form.language_boshqa|as_crispy_field }}
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12">
            <h6>13. ЭҲМ да ишлаш ва программаларнинг турлари бўйича билим ва кўникмалар</h6>
            <hr class="border border-info">
        </div>


        <div class="row ml-4">
            <div class="col-sm-4">
    {{ my_form.computer_literacy|as_crispy_field }}
        </div>
        <div class="col-sm-8">
            <ul class="mt-4">
                <li class="list-unstyled ">Шахсий компютерларда ишлаш кўникмасига эга эмас</li>
                <li class="list-unstyled pt-3">Windows операцион тизимининг асосий вазифаларини ўзлаштирган (улардан фойдаланиш, қайта номлаш, кўчириш, матн билан ишлаш, уни яратиш,
                    ҳужжатларни сақлаш ва ҳ.к.</li>
                <li class="list-unstyled pt-3">Microsoft Office тўплам ва маҳсулотларини, Word ва Excel офис дастурларини ҳамда электрон почта ва турли браузерларни ўзлаштирган</li>
                <li class="list-unstyled pt-3">Microsoft Office нинг барча дастурларини, махсус тизимларни ва бошқариш тизимини лойиҳалашни тўлиқ ўзлаштирган</li>
                <li class="list-unstyled pt-3">Шахсий компютерларда ишлаш кўникмасини мукаммал ўзлаштирган</li>
            </ul>
        </div>

        </div>
    </div>


{#       ------------------------------------- Experience FORM -----------------------------------------------------------------#}
  <div class="col-sm-12">
            <label for="">14. Меҳнат фаолияти</label>
                <hr class="border border-info">
      {{ experience_formset.management_form }}
      {% for form in  experience_formset %}
                <div class="exp-form">

        <div class="row text-left">
            <div class="col-sm-4 ">
               {{ form.startWorkDate|as_crispy_field }}
        </div>
            <div class="col-sm-4 ">
            {{ form.endWorkDate|as_crispy_field }}
        </div>
    <div class="col-sm-4" >
                 {{ form.lavozim|as_crispy_field }}
             </div>
</div>
            <div class="row mb-4 text-left">

            <div class="col-sm-6">
            {{ form.name|as_crispy_field }}
        </div>

        <div class="col-sm-6 ">
           {{ form.address|as_crispy_field }}
        </div>

</div>
                </div>
 {% endfor %}
       <p class="text-right">
            <button id="add-Expform" type="button" class="btn-sm border-0 btn-success text-right">   <i class="fal fa-plus"></i> Яна қўшиш</button>
                </p>
 <hr class="border border-info">
        </div>
        </div>

{#--------------------------------------------ENDED------------------------------------------------------------------------#}
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                {{ my_form.functional_resp|as_crispy_field }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
               {{ my_form.work_experience|as_crispy_field }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                {{ my_form.yutuqlar|as_crispy_field }}
            </div>
        <hr class="border border-info">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                {{ my_form.leaving_work_reason|as_crispy_field }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                {{ my_form.main_skills|as_crispy_field }}
                <p class="text-muted index-info">биринчи навбатда кўрсатилиши лозим: кўрилаётган мутахассислик бўйича қанақа профессионал тажриба ва кўникмаларга эгалигингизни, унга таълуқли техника ва ускуналарнинг турларини билишингиз ва улар билан муомала қилишингизни, махсус технологиялар ва дастурларни ўзлаштирганингизни, қўйилган вазифани яхши бажариш учун зарур бўлган билим ва махоратингизни ва ҳ.к.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="">17. Шахсий фазилатларингиз</label>
            <hr class="border border-info">
        </div>
            {{ my_form.personalSkills|as_crispy_field }}
{#        <div class="col-md-4 my-3">#}
{#            <span class="pr-3">интизомли</span>#}
{#            <input type="radio" class="mx-1" name="one">Xa#}
{#            <input type="radio" class="mx-1" name="one">Йўк#}
{#        </div>#}
{#        <div class="col-md-4 my-3">#}
{#            <span class="pr-3">ижрочи</span>#}
{#            <input type="radio" class="mx-1" name="two">Xa#}
{#            <input type="radio" class="mx-1" name="two">Йўк#}
{#        </div>#}
{#        <div class="col-md-4 my-3">#}
{#            <span class="pr-3">меҳнаткаш</span>#}
{#            <input type="radio" class="mx-1" name="three">Xa#}
{#            <input type="radio" class="mx-1" name="three">Йўк#}
{#        </div>#}
{#        <div class="col-md-4 my-3">#}
{#            <span class="pr-3">ҳалол</span>#}
{#            <input type="radio" class="mx-1" name="four">Xa#}
{#            <input type="radio" class="mx-1" name="four">Йўк#}
{#        </div>#}
{#        <div class="col-md-4 my-3">#}
{#            <span class="pr-3">тиришқоқ</span>#}
{#            <input type="radio" class="mx-1" name="five">Xa#}
{#            <input type="radio" class="mx-1" name="five">Йўк#}
{#        </div>#}
{#        <div class="col-md-4 my-3">#}
{#            <span class="pr-3">ташаббускор</span>#}
{#            <input type="radio" class="mx-1" name="six">Xa#}
{#            <input type="radio" class="mx-1" name="six">Йўк#}
{#        </div>#}
{#        <div class="col-md-4 my-3">#}
{#            <span class="pr-3">ақлли</span>#}
{#            <input type="radio" class="mx-1" name="seven">Xa#}
{#            <input type="radio" class="mx-1" name="seven">Йўк#}
{#        </div>#}
{#        <div class="col-md-4 my-3">#}
{#            <span class="pr-3">ташкилотчилик қобилияти</span>#}
{#            <input type="radio" class="mx-1" name="eight">Xa#}
{#            <input type="radio" class="mx-1" name="eight">Йўк#}
{#        </div>#}
{#        <div class="col-md-4 my-3">#}
{#            <span class="pr-3">компаниянинг манфаатларини ҳимоя қилиш қобилияти</span>#}
{#            <input type="radio" class="mx-1" name="nine">Xa#}
{#            <input type="radio" class="mx-1" name="nine">Йўк#}
{#        </div>#}
{#        <div class="col-md-4 my-3">#}
{#            <span class="pr-3">жамоада изчил ишлаш қобилияти</span>#}
{#            <input type="radio" class="mx-1" name="ten">Xa#}
{#            <input type="radio" class="mx-1" name="ten">Йўк#}
{#        </div>#}
    </div>

    <div class="row">
        <div class="col-12">
            <label for="">18. Ишга тайёрлигингиз</label>
            <hr class="border border-info">
        </div>
        {{ my_form.readinessWork|as_crispy_field }}
{#        <div class="col-md-3 my-3">#}
{#            <span class="pr-3">Китоблар</span>#}
{#            <input type="radio" class="mx-1" name="book">Xa#}
{#            <input type="radio" class="mx-1" name="book">Йўк#}
{#        </div>#}
{##}
{#        <div class="col-md-3 my-3">#}
{#            <span class="pr-3">Кино</span>#}
{#            <input type="radio" class="mx-1" name="kino">Xa#}
{#            <input type="radio" class="mx-1" name="kino">Йўк#}
{#        </div>#}
{##}
{#        <div class="col-md-3 my-3">#}
{#            <span class="pr-3">Театр</span>#}
{#            <input type="radio" class="mx-1" name="theatr">Xa#}
{#            <input type="radio" class="mx-1" name="theatr">Йўк#}
{#        </div>#}
{##}
{#        <div class="col-md-3 my-3">#}
{#            <span class="pr-3">Спорт</span>#}
{#            <input type="radio" class="mx-1" name="sport">Xa#}
{#            <input type="radio" class="mx-1" name="sport">Йўк#}
{#        </div>#}
{##}
{#        <div class="col-md-3 my-3">#}
{#            <span class="pr-3">Музей</span>#}
{#            <input type="radio" class="mx-1" name="mouseum">Xa#}
{#            <input type="radio" class="mx-1" name="mouseum">Йўк#}
{#        </div>#}
{##}
{#        <div class="col-md-3 my-3">#}
{#            <span class="pr-3">Саёхат</span>#}
{#            <input type="radio" class="mx-1" name="trip">Xa#}
{#            <input type="radio" class="mx-1" name="trip">Йўк#}
{#        </div>#}
{##}
{#        <div class="col-md-3 my-3">#}
{#            <span class="pr-3">Дўстлар давраси</span>#}
{#            <input type="radio" class="mx-1" name="friend">Xa#}
{#            <input type="radio" class="mx-1" name="friend">Йўк#}
{#        </div>#}
            <div class="col-sm-12">
            {{ my_form.hobby|as_crispy_field }}
        </div>

        <div class="col-sm-12">
            {{ my_form.hobby_boshqa|as_crispy_field }}
        </div>

        <div class="col-sm-12">
            {{ my_form.expected_salary|as_crispy_field }}
        </div>

        <div class="col-sm-12">
            {{ my_form.reasontoWork|as_crispy_field }}
        </div>

    </div>

    <div class="form-row was-validated">
        <div class="col-12">
            {{ my_form.relatives_company|as_crispy_field }}
            <span class="index-info">Ф.И.Ш., ишлаш жойи ва лавозими</span>
        </div>
        <div class="col-12 was-validated">
           {{ my_form.criminal_history|as_crispy_field }}
            <span class="index-info">“йўқ”, агар “ҳа” жавоби бўлса: қаерда; қачон ва нима учун; МжК ёки ЖКнинг қайси банди бўйича</span>
        </div>




{#    -----------------------Recommendation FORM --------------------------------------------#}

        <div class="col-sm-12">
            <label for="">24. Ишлаган жойингиздан раҳбар ёки ҳамкасблардан ким Сизга тавсиянома бера олади</label>
                <hr class="border border-info">
            {{ recommend_formset.management_form }}
            {% for form in  recommend_formset %}
                  <div class="recom-form">

        <div class="row text-left">
            <div class="col-sm-4 ">
            {{ form.fullName|as_crispy_field }}
        </div>
            <div class="col-sm-4 ">
           {{ form.workPlace|as_crispy_field }}
        </div>
    <div class="col-sm-4" >
                 {{ form.phoneAndEmail|as_crispy_field }}
             </div>
            </div>
            </div>
         {% endfor %}
            <p class="text-right">
            <button id="add-Recomform" type="button" class="btn-sm border-0 btn-success text-right">   <i class="fal fa-plus"></i> Яна қўшиш</button>
                </p>

 <hr class="border border-info">
        </div>
        </div>
{#----------------------------------------------------ENDED------------------------------------------------------#}


    <div class="row">
        <div class="col-12">
            <label for="">25. Алоқа турлари
                <hr class="border border-info">
            </label>
        </div>
        <div class="col-sm-4">
             {{ my_form.homeNumber|as_crispy_field }}
        </div>
        <div class="col-sm-4 was-validated">
            {{ my_form.phoneNumber|as_crispy_field }}
        </div>
        <div class="col-sm-4">
            {{ my_form.email|as_crispy_field }}
        </div>

        <div class="col-12">
            {{ my_form.additional_info|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ my_form.approve_info|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ my_form.agreement|as_crispy_field }}
        </div>
    </div>

    <div class="row form-group  was-validated">
        <div class="col-12">
            <label for="">Обязательные файлы</label>
            <hr class="border border-info">
        </div>
        <div class="col-sm-4 was-validated">
            {{ my_form.passport_file|as_crispy_field }}
        </div>
        <div class="col-sm-4 was-validated">
           {{ my_form.diplom_file|as_crispy_field }}
        </div>
        <div class="col-sm-4">
            {{ my_form.trudovoyKnishka|as_crispy_field }}
        </div>
    </div>
{#       -----------------------------------OTHER DOCUMENTS FORM-----------------------------------------------------------#}


<div class="row mb-3">
           <div class="col-sm-12">
            <label for="">Прочие документы</label>
                <hr class="border border-secondary">

               {{ otherdocs_formset.management_form }}
               {% for form in  otherdocs_formset %}
                <div class="docs-form">
        <div class="row text-left">
            <div class="col-sm-4 ">
            {{ form.file|as_crispy_field }}
        </div>
            <div class="col-sm-8 ">
            {{ form.comment|as_crispy_field }}
        </div>

</div></div>
        </div>


     </div>
       {% endfor %}

            <p class="text-right">
            <button id="add-docsform" type="button" class="btn-sm border-0 btn-success text-right">   <i class="fal fa-plus"></i> Яна қўшиш</button>
                </p>

 <hr class="border border-secondary">


{#---------------------------------------------------ENDED FORM--------------------------------------------------#}



    <div class="row">
        <div class="col-12">
             {{ my_form.fullName|as_crispy_field }}
        </div>
        <div class="col-12">
            <p class="text-center text-danger pt-5">
                Иш берувчи Сиз хақингизда тўлиқ бўлмаган ёки нотўғри биографик маълумотларни ўз ичига олган резюмени кўриб чиқмаслик хуқуқига эга
            </p>
        </div>
    </div>
<button type="submit">Submit form</button>


{#    <section class="w-100">#}
{#        <div class="container text-center">#}
{#            <div class="btn-group btn-group-toggle" data-toggle="buttons">#}
{#                <label class="btn btn-info">#}
{#                  <button type="submit"  class="btn btn-info">#}
{#                        Юбориш#}
{#                  </button>#}
{#                </label>#}
{##}
{#              </div>#}
{#        </div>#}
{#    </section>#}
</form>








 <script>
          //Education formset area  javascript codes
       let eduForm = document.querySelectorAll(".edu-form")
       let container = document.querySelector("#form-container")
       let addEduButton = document.querySelector("#add-Eduform")
       let totalEduForms = document.querySelector("#id_education-TOTAL_FORMS")

       let formEduNum = eduForm.length-1 // Get the number of the last form on the page with zero-based indexing
        addEduButton.addEventListener('click', addEduForm)

       function addEduForm(e) {
           e.preventDefault()
           let newForm = eduForm[0].cloneNode(true) //Clone the bird form
           let formRegex = RegExp(`education-(\\d){1}-`,'g') //Regex to find all instances of the form number
           formEduNum++ //Increment the form number
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `education-${formEduNum}-`) //Update the new form to have the correct form number
            addEduButton.parentNode.insertBefore(newForm, addEduButton) //Insert the new form at the end of the list of forms

           totalEduForms.setAttribute('value', `${formEduNum+1}`) //Increment the number of total forms in the management form
       }



       //Experience form Javascript codes
       //variables to access experience form
       let expForm = document.querySelectorAll(".exp-form")
       {#let container = document.querySelector("#form-container")#}
       let addExpButton = document.querySelector("#add-Expform")
       let totalExpForms = document.querySelector("#id_experience-TOTAL_FORMS")

       let formExpNum = expForm.length-1 // Get the number of the last form on the page with zero-based indexing
        addExpButton.addEventListener('click', addExpForm)

       function addExpForm(e) {
           e.preventDefault()
           let newExpForm = expForm[0].cloneNode(true) //Clone the bird form
           console.log("test")
           let formRegex = RegExp(`experience-(\\d){1}-`,'g') //Regex to find all instances of the form number
           formExpNum++ //Increment the form number
            newExpForm.innerHTML = newExpForm.innerHTML.replace(formRegex, `experience-${formExpNum}-`) //Update the new form to have the correct form number
            {#container.insertBefore(newExpForm, addExpButton) //Insert the new form at the end of the list of forms#}
            {#container.appendChild(newExpForm)#}
           addExpButton.parentNode.insertBefore(newExpForm,addExpButton)
           totalExpForms.setAttribute('value', `${formExpNum+1}`) //Increment the number of total forms in the management form
       }


        //Recommendation form Javascript codes
        let recomForm = document.querySelectorAll(".recom-form")
       let addRecomButton = document.querySelector("#add-Recomform")
       let totalRecomForms = document.querySelector("#id_recommend-TOTAL_FORMS")

       let formRecomNum = recomForm.length-1 // Get the number of the last form on the page with zero-based indexing
        addRecomButton.addEventListener('click', addRecomForm)

          function addRecomForm(e) {
           e.preventDefault()
           let newForm = recomForm[0].cloneNode(true) //Clone the bird form
           console.log("test")
           let formRegex = RegExp(`recommend-(\\d){1}-`,'g') //Regex to find all instances of the form number
           formRecomNum++ //Increment the form number
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `recommend-${formRecomNum}-`) //Update the new form to have the correct form number
            {#container.insertBefore(newExpForm, addExpButton) //Insert the new form at the end of the list of forms#}
            {#container.appendChild(newExpForm)#}
           addRecomButton.parentNode.insertBefore(newForm,addRecomButton)
           totalRecomForms.setAttribute('value', `${formRecomNum+1}`) //Increment the number of total forms in the management form
       }


            //Other documents formset area  javascript codes
       let otherdocsForm = document.querySelectorAll(".docs-form")
       let addOtherDocsButton = document.querySelector("#add-docsform")
       let totalDocsForms = document.querySelector("#id_otherdocs-TOTAL_FORMS")

       let formOtherDocsNum = otherdocsForm.length-1 // Get the number of the last form on the page with zero-based indexing
        addOtherDocsButton.addEventListener('click', addOtherDocsForm)

       function addOtherDocsForm(e) {
           e.preventDefault()
           let newForm = otherdocsForm[0].cloneNode(true) //Clone the bird form
           let formRegex = RegExp(`otherdocs-(\\d){1}-`,'g') //Regex to find all instances of the form number
           formOtherDocsNum++ //Increment the form number
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `otherdocs-${formOtherDocsNum}-`) //Update the new form to have the correct form number
            addOtherDocsButton.parentNode.insertBefore(newForm, addOtherDocsButton) //Insert the new form at the end of the list of forms

           totalDocsForms.setAttribute('value', `${formOtherDocsNum+1}`) //Increment the number of total forms in the management form
       }

       </script>


</body>
{% endblock content %}
</html>